* {box-sizing: border-box;}
body {
	text-align: center;
	background: #ccc;
}
h1{
	color: white;
}

.tabs{
	width:60%;
	display: inline-block;
}
/*----- Tab Links -----*/
    /* Clearfix */
    .tab-links:after {
        display:block;
        clear:both;
        content:'';
    }
 
    .tab-links li {
        margin:0px 5px;
        float:left;
        list-style:none;
    }
 
        .tab-links a {
            padding:9px 15px;
            display:inline-block;
            border-radius:3px 3px 0px 0px;
            background:#7FB5DA;
            font-size:16px;
            font-weight:600;
            color:#4c4c4c;
            transition:all linear 0.15s;
        }
 
        .tab-links a:hover {
            background:#a7cce5;
            text-decoration:none;
        }
 
    li.active a, li.active a:hover {
        background:#fff;
        color:#4c4c4c;
    }

     .tab {
            display:none;
        }
 
        .tab.active {
            display:block;
        }


#streamer {
	margin:10px auto 10px auto;
	width: 100%;
	height: auto;
	background: rgba(255,255,255, .5);
	border: 1px solid black;
	text-align: left;
}
#listed{
	list-style: none;
	vertical-align: middle;
	display: block;
}
#logoImg {
	height: 35px;
	width: 35px;
	margin: 10px;
	border-radius: 50%;
	border: 1px solid black;
	clear: right;
}
#urlLink {
	text-decoration: none;
	font-size: 1.3em;
}
#logoImg, #urlLink{
	vertical-align: middle;
}
#liveNow {
	font-size: 0.5em;
	color: red;
}