* {box-sizing: border-box;}
html{height: 100%}
body {
	text-align: center;
	background: #aaa;
	font-family: 'Aref Ruqaa', serif;
	min-height: 100%;
}


h1{
	color: white;
	text-shadow: 3px 3px #6441a5;
	font-size: 3em;
}
input{text-align: center;}
#search{
color: #6441a5;
border: 1px solid #6441a5;
height: 30px;
}
#submit-btn{
	border: 1px solid #6441a5;
	color: #6441a5;
	height: 30px;
}

.tabs{
	width:60%;
	display: inline-block;
}
/*----- Tab Links -----*/
    /* Clearfix */
    .tab-links {
    	margin-bottom: 0;}

    .tab-links:after {
        display:block;
        clear:both;
        content:'';
    }
 
    .tab-links li {
        margin:0px 2px;
        float:right;
        list-style:none;

    }
 
        .tab-links a {
            padding:9px 15px;
            display:inline-block;
            border-radius:10px 10px 0px 0px;
            background:#6441a5;
            font-size:16px;
            font-weight:600;
            color: white;
            transition:all linear 0.15s;
            text-decoration: none;
        }
 
        .tab-links a:hover {
            background:#a7cce5;
            text-decoration:underline;
        }
 
    li.active a, li.active a:hover {
        background:#fff;
        color:#4c4c4c;
    }

     .tab {
            display:none;
        }
 
        .tab.active {
            display:block;
        }


#streamer {
	margin:0px auto 10px auto;
	width: 100%;
	height: auto;
	background: rgba(100,65,165, .3);
	border: 1px solid #6441a5;
	text-align: left;
}
#listed{
	list-style: none;
	vertical-align: middle;
	display: block;
	overflow-x:scroll;
	white-space: nowrap;
	padding-right: 5px;
}
#logoImg {
	height: 40px;
	width: 40px;
	margin: 10px;
	border-radius: 50%;
	border: 1px solid black;
	clear: right;
}
#urlLink {
	text-decoration: none;
	font-size: 1.3em;
	color: white;
}
#logoImg, #urlLink{
	vertical-align: middle;
}
#liveNow {
	font-size: 0.7em;
	color: #FFFCD0;
}


iframe{ 
	border: 2px solid #6441a5;
 }


@media (max-width: 600px) {
	#urlLink {font-size: 1.1em;}
	#LiveNow {font-size: 0.6em;}
	#logoImg{height: 35px;
		widows: 35px}
	.tabs{width: 90%;}
}
@media (min-width: 601px) and (max-width: 870px){
	.tabs{width:80%;}
}













